@font-face {
    font-family: 'SofascoreSans';
    src: url('fonts/SofascoreSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SofascoreSans';
    src: url('fonts/SofascoreSans-BoldCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'SofascoreSans';
    src: url('fonts/SofascoreSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SofascoreSans';
    src: url('fonts/SofascoreSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SofascoreSans';
    src: url('fonts/SofascoreSans-RegularCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
}


html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #2C3E50; /* Nieco jaśniejsze tło z niebiesko-szarym odcieniem */
    color: #ffffff;
    font-family: 'SofascoreSans', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34495E; /* Ciemniejsze tło dla nagłówka */
    padding: 10px 15px;
}

.header-left img {
    height: 24px;
}

.header-right img {
    height: 24px;
    margin-left: 20px;
}

nav {
    background-color: #34495E; /* Ciemniejsze tło dla nawigacji */
    border-bottom: 1px solid #2C3E50;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    color: #BDC3C7;
    font-size: 14px;
}

nav li.active {
    color: #fff;
    border-bottom: 2px solid #3498DB;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.matches-container {
    background-color: #1A252F; /* Ciemniejsze tło dla tabeli meczów */
    margin: 0 15px 15px 15px;
    border-radius: 8px;
    overflow-y: auto;
    flex: 1;
}

.matches-container::-webkit-scrollbar {
    width: 6px;
}

.matches-container::-webkit-scrollbar-thumb {
    background-color: #34495E;
    border-radius: 3px;
}

.match {
    border-bottom: 1px solid #2C3E50;
}

.match:last-child {
    border-bottom: none;
}

.match-info {
    display: flex;
    align-items: center;
    padding: 10px;
}

.match-time-status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    color: #BDC3C7;
}

.vertical-separator {
    width: 1px;
    height: 60px;
    background-color: #2C3E50;
    margin: 0 10px;
}

.vertical-separator-result {
    width: 1px;
    height: 40px;
    background-color: #2C3E50;
    margin: 0 5px;
}

.teams {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.team {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.team img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.team-name {
    font-size: 14px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 2px;
}

.score span {
    margin-bottom: 5px;
}

.score-player {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.score-player span {
    margin-bottom: 5px;
}



.symbol img {
    width: 24px;
    height: 24px;
}

footer {
    background-color: #34495E;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}

.nav-item {
    flex: 1;
    text-align: center;
    color: #BDC3C7;
}

.nav-item img {
    height: 24px;
}

.nav-item span {
    display: block;
    font-size: 12px;
}

.nav-item.active {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .matches-container {
        margin: 0 auto 15px auto;
        width: 400px;
    }
}
/* Dodajemy na końcu istniejącego pliku alfa.css */

.table-container {
    margin: 15px;
    background-color: #1A252F;
    border-radius: 8px;
    overflow-x: auto;
}

.league-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.league-info {
    padding-left: 10px;
    display: flex;
    padding-top: 10px;
}

.league-table th, .league-table td {
    padding: 10px;
    border-bottom: 1px solid #2C3E50;
    font-size: 14px;
    color: #BDC3C7;
}

.league-table th {
    background-color: #34495E;
    color: #ffffff;
    position: sticky;
    top: 0;
}

.league-table tbody tr:hover {
    background-color: #2C3E50;
}

.league-table td img {
    margin-right: 5px;
    vertical-align: middle;
}

/* Dotychczasowe style pozostają bez zmian */

/* Dodaj poniższe style na końcu pliku */

/* Logo i nazwa rozgrywek */
.match-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.league-logo {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.league-name {
    font-size: 12px;
    color: #BDC3C7;
    align-content: center;
      
}


/* Dostosowanie kontenera meczów */
#matches-container {
    flex: 1;
    overflow-y: auto;
}
/* Dotychczasowe style pozostają bez zmian */

/* Upewnij się, że poniższe style są zawarte w pliku alfa.css */

/* Kontener meczów */
#matches-container {
    flex: 1;
    overflow-y: auto;
}

/* Dzielnik daty */
.date-divider {
    padding: 10px 5px 5px 15px;
    background-color: #1A252F;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 15px 0 15px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #2C3E50;
}

/* Kontener dla meczów danego dnia */
.matches-for-date {
    background-color: #1A252F; /* Ciemniejsze tło dla meczów */
    margin: 0 15px 15px 15px;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}

/* Styl meczów */
.match {
    border-bottom: 1px solid #2C3E50;
}

.match:last-child {
    border-bottom: none;
}

.match-info {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Sekcja po lewej stronie (liga, czas, status) */
.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.match-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.league-logo {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.league-name {
    font-size: 12px;
    color: #BDC3C7;
}

.match-time-status {
    font-size: 12px;
    color: #BDC3C7;
}

.match-time {
    font-weight: bold;
    color: #ffffff;
}

.match-status {
    color: #BDC3C7;
}

.vertical-separator {
    width: 1px;
    height: 50px;
    background-color: #2C3E50;
    margin: 0 10px;
}

.teams {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.team {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.team img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.team-name {
    font-size: 14px;
}


.symbol img {
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 768px) {
    .matches-container {
        margin: 0 auto;
        width: 400px;
    }
}
/* Dotychczasowe style pozostają bez zmian */

/* Dodaj poniższe style na końcu pliku */

/* Dodaj poniższe style na końcu pliku */

/* Stylizacja tabeli */
.league-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.league-table th, .league-table td {
    padding: 10px;
    border-bottom: 1px solid #2C3E50;
    font-size: 14px;
    color: #BDC3C7;
    vertical-align: middle;
}

.league-table th {
    background-color: #34495E;
    color: #ffffff;
}

/* Dostosowanie szerokości kolumn */
.league-table th:nth-child(1), .league-table td:nth-child(1) {
    width: 10%;
    text-align: center;
}

.league-table th:nth-child(2), .league-table td:nth-child(2) {
    width: 20%;
    text-align: left;
}

.league-table th:nth-child(3), .league-table td:nth-child(3),
.league-table th:nth-child(4), .league-table td:nth-child(4),
.league-table th:nth-child(5), .league-table td:nth-child(5) {
    width: 10%;
}

.league-table th:nth-child(6), .league-table td:nth-child(6) {
    width: 20%;
}

.league-table th:nth-child(7), .league-table td:nth-child(7) {
    width: 10%;
}

.position-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.position-number {
    font-size: 14px;
    font-weight: bold;
}

.position-change {
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
}

.position-symbol {
    font-size: 12px;
    margin-top: 5px;
}

.name-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: bold;
    
}

.difference{

    font-weight: bold; 
}

.player-avatar {
    width: 32px;
    border-radius: 50%;
    margin-right: 5px;
}

.form-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60px;
}

.form-dot {
    width: 6px;
    height: 6px;
    background-color: green;
    border-radius: 50%;
    margin: 1px;
}

.points-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points-number {
    font-size: 18px;
    font-weight: bold;
}

.points-change {
    font-size: 10px;
}

@media screen and (max-width: 600px) {
    .league-table th, .league-table td {
        padding: 8px;
    }
}

.soccer-ball-spinner {
    height: 50px;
}

